/* .headerTop {
    width: 100%;
    background-color: linear-gradient(blue, black);
} */
.current-city {
    border-style: solid;
}
.header {
    background: linear-gradient(.25turn, blue, 90%, black);
}
.title {
    text-align: right;
    padding-right: 40%;
    color: white;
}
.s-sidebar {
    border-right: solid black;
}
