.current-city {
    border-style: solid;
}
.header {
    background: linear-gradient(.25turn, blue, 90%, black);
}
.title {
    text-align: right;
    padding-right: 40%;
    color: white;
}
.s-sidebar {
    border-right: solid black;
}
.forecast-box {
    border-style: solid;
    color: black;
    margin:1.0rem;
    /* display: flex;
    flex-wrap: wrap; */
}